<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowUserScaling</key>
	<integer>1</integer>
	<key>createOfflineApplicationCache</key>
	<false/>
	<key>currentScene</key>
	<string>1</string>
	<key>displayedAttributes</key>
	<array>
		<string>kPropertiesMenuItemIdentifierOpacity</string>
		<string>kPropertiesMenuItemIdentifierAnimated</string>
		<string>kPropertiesMenuItemIdentifierPosition</string>
	</array>
	<key>documentVersion</key>
	<string>338</string>
	<key>documentationVerticalSplitViewPosition</key>
	<real>280</real>
	<key>drawSceneBackgrounds</key>
	<true/>
	<key>fonts</key>
	<array/>
	<key>guidesAreLocked</key>
	<false/>
	<key>guidesAreVisible</key>
	<true/>
	<key>lastCheckDate</key>
	<date>2014-08-20T08:56:47Z</date>
	<key>layout</key>
	<dict>
		<key>keyframeTimelineHeight</key>
		<real>106</real>
		<key>mainWindowFrame</key>
		<string>648 268 1503 1061 0 0 2560 1418 </string>
		<key>openTabs</key>
		<array/>
		<key>selectedTabIndex</key>
		<integer>0</integer>
		<key>showSceneTabView</key>
		<false/>
		<key>splitHeight</key>
		<real>651</real>
		<key>splitViewIsVertical</key>
		<false/>
		<key>splitWidth</key>
		<real>640</real>
	</dict>
	<key>minimumSupportedBrowserVersions</key>
	<dict>
		<key>Android</key>
		<string>2.3</string>
		<key>Chrome</key>
		<string>Latest</string>
		<key>Firefox</key>
		<string>3.6</string>
		<key>IE</key>
		<string>6</string>
		<key>Mobile Safari</key>
		<string>5.1.1</string>
		<key>Opera</key>
		<string>11.10</string>
		<key>Safari</key>
		<string>5.1.3</string>
		<key>iBooks</key>
		<string>Latest</string>
	</dict>
	<key>mobileStatusBarStyle</key>
	<integer>0</integer>
	<key>oidCounter</key>
	<integer>3</integer>
	<key>resourcesInfo</key>
	<dict>
		<key>groups</key>
		<array/>
		<key>resources</key>
		<array/>
	</dict>
	<key>sceneScalePercentageSize</key>
	<string>{1, 1}</string>
	<key>sceneSize</key>
	<string>{600, 400}</string>
	<key>scenes</key>
	<array>
		<dict>
			<key>animationController</key>
			<dict>
				<key>expandedItems</key>
				<array/>
				<key>timeCursors</key>
				<dict>
					<key>kTimelineDefaultIdentifier</key>
					<real>0.0</real>
				</dict>
				<key>timescale</key>
				<integer>60</integer>
			</dict>
			<key>canvasSize</key>
			<string>{1503, 651}</string>
			<key>context</key>
			<dict>
				<key>currentTimelineIdentifier</key>
				<string>kTimelineDefaultIdentifier</string>
				<key>elements</key>
				<dict>
					<key>2</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Rounded Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Rounded Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>47px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>36</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>0px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>45px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopLeft</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>1</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomLeft</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopRight</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomRight</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#DDEEFF</string>
						</dict>
					</array>
					<key>3</key>
					<array>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomRight</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthLeft</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BackgroundColor</string>
							<key>objectValue</key>
							<string>#FFA75F</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ExplicitDimensions</string>
							<key>objectValue</key>
							<string>YES</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorBottom</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleRight</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ClassType</string>
							<key>objectValue</key>
							<string>Rounded Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleBottom</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Top</string>
							<key>objectValue</key>
							<string>351px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthRight</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleLeft</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorTop</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorLeft</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Position</string>
							<key>objectValue</key>
							<string>absolute</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Height</string>
							<key>objectValue</key>
							<string>47px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>AutoresizingMask</string>
							<key>objectValue</key>
							<string>9</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Left</string>
							<key>objectValue</key>
							<string>553px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderColorRight</string>
							<key>objectValue</key>
							<string>#A0A0A0</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderStyleTop</string>
							<key>objectValue</key>
							<string>Solid</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopLeft</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Width</string>
							<key>objectValue</key>
							<string>45px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>ZIndex</string>
							<key>objectValue</key>
							<string>2</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthTop</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusBottomLeft</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>Overflow</string>
							<key>objectValue</key>
							<string>visible</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderRadiusTopRight</string>
							<key>objectValue</key>
							<string>10px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>DisplayName</string>
							<key>objectValue</key>
							<string>Rounded Rectangle</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>BorderWidthBottom</string>
							<key>objectValue</key>
							<string>1px</string>
						</dict>
						<dict>
							<key>identifier</key>
							<string>TagName</string>
							<key>objectValue</key>
							<string>div</string>
						</dict>
					</array>
				</dict>
				<key>onSceneLoadActionHandler</key>
				<dict>
					<key>actions</key>
					<array/>
				</dict>
				<key>properties</key>
				<dict>
					<key>backgroundColor</key>
					<string>#CCCCFF</string>
					<key>perspective</key>
					<real>600</real>
				</dict>
				<key>timelines</key>
				<array>
					<dict>
						<key>animations</key>
						<array>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>60px</string>
								</dict>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>553px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>83717A58-D48E-48B9-80E7-AA5848D2DBFB-49831-0003AF4801926514</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>551px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>45px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>4BBFF4BE-A817-4A68-855B-59A98E1E5F20-49831-0003AF4A1BE02A34</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>349px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>47px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>B3202620-6BA2-408D-B9C4-AD6D52BF2393-49831-0003AF4A239C6E2F</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>538px</string>
								</dict>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>45px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>A9F2213F-8B6A-4A0E-868E-682060542501-49831-0003AF4B8BD4D04F</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>49px</string>
								</dict>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>351px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>61063005-F528-4DAF-8CBE-44CCDCF287E2-49831-0003AF4B8E358095</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>2.5</real>
								<key>endValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>349px</string>
								</dict>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>0.0</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>47px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>2EF8FA24-52FC-46DB-A4EB-09C5D5A3B05C-49831-0003AF4B8E45B8AC</string>
								<key>zIndex</key>
								<integer>1</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Left</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Left</string>
									<key>objectValue</key>
									<string>60px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>6C2923D5-3D6F-46A5-B028-AB67E8FC4B12-49831-0003AF4B8BCAD6A6</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Top</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Top</string>
									<key>objectValue</key>
									<string>49px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>56AE4CA8-0CD1-4411-AD23-C287D5ECE212-49831-0003AF4B8E392AA7</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>349px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>41DD499B-A9D7-43F4-8111-332336EBE886-49831-0003AF4B8E4869E6</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>3</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>538px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>BF1B6158-21C6-45D5-A47C-B0FC60B53C41-49831-0003AF4B8BD76DBE</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Width</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Width</string>
									<key>objectValue</key>
									<string>551px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>9984CC97-8F53-4AA0-8305-47FFC7D4C7E2-49831-0003AF4A1BE46A0A</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
							<dict>
								<key>duration</key>
								<real>0.0</real>
								<key>identifier</key>
								<string>Height</string>
								<key>isRelative</key>
								<false/>
								<key>referenceOid</key>
								<string>2</string>
								<key>startTime</key>
								<real>2.5</real>
								<key>startValue</key>
								<dict>
									<key>identifier</key>
									<string>Height</string>
									<key>objectValue</key>
									<string>349px</string>
								</dict>
								<key>timingFunction</key>
								<string>easeinout</string>
								<key>type</key>
								<integer>0</integer>
								<key>uuid</key>
								<string>3CFD0A5D-127F-429E-8770-3CB52DB17C3E-49831-0003AF4A239FB18E</string>
								<key>zIndex</key>
								<integer>2</integer>
							</dict>
						</array>
						<key>firstKeyframeIsRelative</key>
						<false/>
						<key>framesPerSecond</key>
						<integer>30</integer>
						<key>hidden</key>
						<false/>
						<key>identifier</key>
						<string>kTimelineDefaultIdentifier</string>
						<key>name</key>
						<string>Main Timeline</string>
						<key>userDefinedDuration</key>
						<real>0.0</real>
					</dict>
				</array>
			</dict>
			<key>name</key>
			<string>Untitled Scene</string>
			<key>oid</key>
			<string>1</string>
			<key>scrollViewOffset</key>
			<string>{0, 0}</string>
			<key>selectedObjects</key>
			<array/>
			<key>splitHeight</key>
			<real>651</real>
		</dict>
	</array>
	<key>scripts</key>
	<array/>
	<key>shouldScaleSceneHeight</key>
	<false/>
	<key>shouldScaleSceneWidth</key>
	<false/>
	<key>showLoadingPage</key>
	<false/>
	<key>showRulers</key>
	<false/>
	<key>showTapHighlight</key>
	<integer>1</integer>
	<key>sourceEditorDocumentationHeight</key>
	<real>230</real>
	<key>useGraphicsAcceleration</key>
	<true/>
	<key>useInitialScale</key>
	<integer>0</integer>
	<key>useTouchEvents</key>
	<true/>
	<key>videoExportLoopPlayback</key>
	<true/>
	<key>viewportOption</key>
	<integer>0</integer>
	<key>webAppCapable</key>
	<integer>0</integer>
	<key>zoomFactor</key>
	<real>1</real>
</dict>
</plist>
